/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  padding: 20px;
}

@media screen and (min-width: 7688px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    min-height: 100vh;
    background-size: cover;
  }
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
}

.heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.teamList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .teamList-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
